<div class="form" id="new-trip">

<%= form_for @trip, html: { class: "form-container" } do |f| %>
  <%= render 'alerts/error_message', object: @trip %>

  <legend class="form-title"><%= title %></legend>

  <div class="form-field">
    <%= f.text_field :title, class: "form-input", placeholder: "Trip Title" %>
  </div>

  <div class="form-field">
    <%= f.text_area :description, class: "form-input",
          placeholder: "Give your trip a description (markdown)" %>
  </div>

  <div class="wishlist-items">
    <h3>Inspirations</h3>

    <% current_user.find_voted_items.each do |i| %>
      <%= f.label :inspiration_id, i.title, :value => i.id %>
      <%= f.radio_button :inspiration_id, i.id %>
    <% end %>

  </div>

  <div class="form-field">
    <%= f.submit submit, class: "form-btn" %>
    <%= link_to "Back", :back, class: "form-btn" %>
  </div>

<% end %>
</div>