<div class="form" id="trip-form">
<%= form_for @trip, html: { class: "form-container" } do |f| %>

  <legend class="form-title"><%= title %></legend>

  <%= render 'alerts/error_message', object: @trip %>

  <div class="form-field">
    <div class="form-control">
      <%= f.text_field :title, class: "form-input", placeholder: "Trip Title" %>
      <%= f.text_area :description, class: "form-input",
          placeholder: "Give your trip a description (markdown)" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-control">
      <%= f.submit submit, class: "form-btn" %>
    </div>
  </div>

<% end %>
</div>