<%= form_for @trip do |f| %>

<%= render 'alerts/error_message', object: @trip %>

<div class="form-field">
    <%= f.label :title, for: "title", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :title, class: "form-input" %>
    </div>
  </div>

<div class="form-field">
    <%= f.label :description, for: "title", class: "form-label" %>
    <div class="form-control">
      <%= f.text_area :description, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :location_text, for: "location", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :location_text, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :longitude, for: "longitude", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :longitude, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :latitude, for: "latitude", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :latitude, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-control">
      <%= f.submit yield(:page_title), class: "form-btn" %>
    </div>
  </div>

  <% end %>