<div id="trip" class="form">
<%= form_for @trip, html: { class: "form-container" } do |f| %>
  <%= render 'alerts/error_message', object: @trip %>

  <div class="form-field">
    <legend class="form-title"><%= title %></legend>
    <%= f.text_field :title, class: "form-input", placeholder: "Name Your Trip" %>
    <%= f.text_area :description, class: "form-input",
          placeholder: "Click Me! Describe your trip a description (markdown)" %>
  </div>

  <div class="inspirations">
    <h3>Inspirations</h3>
    <% current_user.find_voted_items.each do |i| %>
      <%= f.radio_button :inspirationinfo, "#{i.class.to_s} #{i.id}" %>
      <%= f.label :inspirationinfo, i.title %>
    <% end %>
  </div>

  <div class="form-field">
    <%= f.submit submit, class: "form-btn" %>
    <%= link_to "Back", :back, class: "form-btn" %>
  </div>

<% end %>
</div>