<div id="trip" class="form-float">
<%= form_for @trip, remote: true, html: { class: "form-container" } do |f| %>
  <legend class="form-title"><%= title %></legend>
  <%= render 'alerts/error_message', object: @trip %>

  <div class="form-section">
    <div class="form-field">
      <%= f.text_field :title, class: "form-input", placeholder: "Trip name" %>
      <%= f.text_area :description, class: "form-input",
            placeholder: "Trip summary" %>
    </div>
    <div class="form-field">
      <%= f.submit submit, class: "form-btn" %>
      <%= link_to "Back", :back, class: "form-btn" %>
    </div>
  </div>

  <div class="inspirations">
    <h3>Inspirations</h3>
    <ul>
      <% current_user.inspirations.where(inspirable_type: "Trip").each do |inspiration| %>
        <li class="radio-button">
        <%= f.radio_button :inspiration_id, inspiration.id %>
        <%= f.label :inspiration_id, inspiration.inspired_by.title %>
        </li>
        <% end %>
      </ul>
  </div>

<% end %>
</div>