<div class="trip">
  <div class="summary">
    <h1 class="title"><%= link_to trip.title, trip, class: "link" %></h1>
    <div class="date"><%= trip_date(trip) %></div>
  </div>
  <%= trip.cover_photo %>
  <div class="cover-photo" data-image-url="<%= image_url(trip.cover_photo) %>"></div>
  <div class="cover-map" data-objects="<%= posts_in_json(trip.posts) %>"></div>

</div>