<div class = "trip" >

<h2><%= link_to trip.title, trip_path(trip) %></h2>
<p><%= trip.description %></p>

<p><%= trip.location_text %></p>
<p><%= trip.user.name %></p>

<h2>Dates</h2>
<p>From <%= trip.chapters.first.posts.first.date.to_date.to_formatted_s(:long) %> to <%= trip.chapters.last.posts.last.date.to_date.to_formatted_s(:long) %></p>

<p>picture?</p>

</div>