<div class = "trip" id="<%= trip.id %>">

<p>trip partial to be rendered by trips controller index</p>

<h2><%= trip.title %></h2>
<p><%= trip.description %></p>

<p><%= trip.location_text %></p>
<p><%= trip.user.name %></p>

<h2>Dates</h2>
<p>trip.posts.first.start_date</p>
<p>trip.posts.last.end_date</p>

<p>picture?</p>