<div class = "trip" id="<%= trip.id %>">

<h2><%= trip.title %></h2>
<p><%= trip.description %></p>

<p><%= trip.location_text %></p>
<p><%= trip.user.name %></p>


<p>trip.posts.first.start_date</p>
<p>trip.posts.last.end_date</p>