<h1>Create a trip</h1>

<%= form_for @trip do |f| %>

<% if @trip.errors.any? %>
	<div id="error-explanation">
		<h2><%= pluralize(@trip.errors.count, "error") %> prevented this trip form being saved:</h2>

		<ul>
			<% @trip.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

<%= f.label :title %>
<%= f.text_field :title %>

<br>

<%= f.label :description %>
<%= f.text_area :description %>

<br>

<%= f.label :location_text %>
<%= f.text_field :location_text %>

<br>

<%= f.label :longitude %>
<%= f.text_field :longitude %>

<br>

<%= f.label :latitude %>
<%= f.text_field :latitude %>

<br>

<%= f.submit %>
<% end %>