<div class="cover-page">
	<div class="cover-photo" data-image-url="<%= image_url(@trip.cover_photo )%>">
		<%= link_to '', new_cover_trip_path(id: @trip.id), remote: true, class: "fa fa-camera set-cov-btn" %>
	</div>

	<div class="row">
	<div class="header large-10 large-offset-1 columns end">
		<% if logged_in? %>
		<div class="control">
			<ul>
				<li><%= link_to '', new_trip_chapter_path(@trip), class: "fa fa-plus-square", remote: true %></li>
				<li></li>
				<li><%= link_to "", edit_trip_path, class: "fa fa-edit", remote: true %></li>
				<li><%= link_to "", @trip, confirm: "Are you sure you want to delete this trip?", method: :delete, remote: true, class: "fa fa-times" %></li>
			</ul>
		</div>
		<% end %>

		<h1 class="title"><%= @trip.title %></h1>
		<small class="date"><%= trip_date(@trip) %></small>
		<p class="author">by <%= link_to @trip.user.name, @trip.user %></p>
		<p class="inspired-by-link">
			<% if @inspired_by %>
				Inspired by <%= link_to @inspired_by.title, @inspired_by %>
			<% end %>
		</p>

	</div>
	</div>

</div>

<div class="page-content">

	<div class="row">
	<div class="large-4 large-offset-1 columns description">

		<!-- Inspiration Button Partial -->
		<%= render 'inspirations/inspiration_btn', object: @trip %>

		<%= simple_format(@trip.description, sanitize: true) %>
	</div>

	<div class="large-6 columns end googleMap">
		<div class="cover-map" data-objects="<%= posts_in_json(@trip.posts) %>"></div>
	</div>
	</div>

	<div class="chapters" id="chapters-list">
		<% @trip.chapters.each do |c| %>
			<%= render c %>
		<% end %>
	</div>
</div>

