

<div id="trip-cover">
	<div class="trip-title"><%= @trip.title %></div>
	<% if @cover %>
		<%= image_tag @cover.postimage_url(:cover), :id => 'trip-cover-pic' %>
		<% else %>
		<%= image_tag 'default_cover.jpg' %>
	<% end %>

	<div id="map-canvas" data-objects="<%= posts_in_json(@trip.posts) %>">
	</div>

</div>

<div class="trip-content">
<p><%= markdown(@trip.description) %></p>

<% if @trip.inspiration_id != nil %>

	<div class="inspirations">
		<p>This trip was inspired by <%= @inspiration.title %></p>
	</div>

<% end %>

<div class="upvote-div">
	<% if logged_in? %>
		<% if current_user.voted_for? @trip  %>
			<button class="upvote-button" data-vote-status="downvote">
				<%= link_to "Remove This Trip From Favourites", vote_trip_path(@trip, unvote: 1), method: :post, remote: true %>
			</button>
		<% else %>
			<button class="upvote-button" data-vote-status="upvote">
				<%= link_to "Add This Trip to Favourites", vote_trip_path(@trip), method: :post, remote: true %>
			</button>

		<% end %>
	<% end %>

	</div>

	<p class='upvote-count'><%= @trip.votes.count %> people have upvoted this trip</p>


	<div class="trip-crud">
	<% if @trip.user == current_user %>
	<ul>
		<li><%= link_to "Set trip cover photo", set_trip_cover_path(:id => @trip.id), :class => 'sel-cov', remote: true %></li>
		<li><%= link_to "Edit this trip", edit_trip_path %></li>
		<li><%= link_to "Remove this trip", @trip, {confirm: "Are you sure you want to delete this trip?", method: :delete, remote: true} %></li>
	</ul>
	<% end %>
	</div>

	<div id="set-cov">
	</div>

	<h2>Chapters</h2>

		<% if @trip.user == current_user %>
		<ul>
			<li><%= link_to "Create a new chapter", new_trip_chapter_path(@trip), :class => 'new-chapter', remote: true %></li>
		</ul>

		<div id="new-chapter-form">

		</div>

		<% end %>
	<div class="chapters">
		<ul id = "chapters-list">
			<%= render @chapters %>
		</ul>
	</div>
</div>