<% provide :page_title, "Sign In" %>

<div id="signin" class="form">
<%= form_for :session, url: sessions_path, remote: true, html: { class: "form-container" } do |f|%>

  <legend class="form-title">Sign In</legend>

  <div class="form-field top">
    <%= f.text_field :email, class: "form-input", placeholder: "Your email here" %>
  </div>

  <div class="form-field">
    <%= f.password_field :password, class: "form-input", placeholder: "Enter you password here" %>
  </div>

  <div class="form-field">
    <%= f.check_box :remember, { class: "form-input" }, "true", "false" %>
    <%= f.label :remember, class: "remember-me" %>
  </div>

  <div class="form-field">
    <%= f.submit "Sign In", class: "form-btn" %>
    <%= link_to "Close", '#', class: "form-btn close" %>
  </div>

<% end %>
</div>