<div id="signin" class="form">
<%= form_for :session, url: sessions_path, html: { class: "form-container" } do |f|%>

  <div class="form-field">
    <%= f.label :email, for: "sesison_email", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :email, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :password, for: "sesison_password", class: "form-label" %>
    <div class="form-control">
      <%= f.password_field :password, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-control">
      <%= f.check_box :remember, { class: "form-input" }, "true", "false" %>
      <%= f.label :remember, class: "remember-me" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-control">
      <%= f.submit "Sign In", class: "form-btn" %>
      <%= link_to "Back", '#', class: "form-btn close" %>
    </div>
  </div>

<% end %>
</div>