<%= form_for :session, url: sessions_path, html: { class: "form-container" } do |f|%>

  <div class="form-field">
    <%= f.label :email, for: "sesison_email", class: "form-label" %>
    <div class="container">
      <%= f.text_field :email, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :password, for: "sesison_password", class: "form-label" %>
    <div class="container">
      <%= f.password_field :password, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="container">
      <%= f.submit "Sign In", class: "form-btn" %>
    </div>
  </div>

<% end %>