<% if @trip_plan.user == current_user %>

<div class="plan-title">
	<h1> <%= @trip_plan.title %></h1>
	<%= link_to "", edit_trip_plan_path, class: "fa fa-edit", remote: true %>
	<%= link_to "", @trip_plan, confirm: "Are you sure you want to delete this trip plan?", method: :delete, class: "fa fa-times" %>
</div>

<div class="map-container">
		<div class="googleMap cover-map" data-objects="<%= plan_items_in_json(@plan_items) %>"></div>
</div>


<div class="description large-7 large-offset-1 columns">
		<%= @trip_plan.description %>
</div>

<div class="itinerary large-2 columns">
			<h1>Your Itinerary</h1>
				<%= link_to ' Add a new item to your itinerary', new_trip_plan_plan_item_path(@trip_plan), class: "fa fa-plus-square", remote: true %>
			<div class="plan-items">
				<%= render @plan_items %>
			</div>

</div>

<% end %>