<div class="my_trip">
    <div class="cover-photo" data-image-url="<%= t.cover_photo %>"></div>
    <div class="trip-summary">
      <h1 class="title"><%= link_to t.title, t, class: "link" %></h1>
      <div class="date"><%= trip_date(t) %></div>
    </div>
    <div class="chapters">
      <ul>
        <% t.chapters.each do |c| %>
          <%= link_to c.title, [t, c], class: "chapter-link" %>
        <% end %>
      </ul>
    </div>
    <div class="cover-map" data-objects="<%= posts_in_json(t.posts) %>"></div>
</div>