<div class="row">
  <div class="large-10 large-offset-1 columns">
    <div class="summary">
      <div class="information">
        <h1 class="title"><%= link_to trip.title, trip, class: "link" %></h1>
        <div class="date"><%= trip_date(trip) %></div>
      </div>
      <div class="cover-photo" data-image-url="<%= image_url(trip.cover_photo) %>"></div>
      <% if trip.posts.any? %>
        <div class="cover-map" data-objects="<%= posts_in_json(trip.posts) %>"></div>
      <% end %>
    </div>
  </div>

    <%= link_to "Plan your own trip", convert_trip_trip_path(trip), class: "link" %>

</div>