<div class="sidebar-profile">
  <%= link_to current_user.name, user_path(current_user), class: 'profile-link' %>
</div>
<ul class="menu">
  <li>
    <%= link_to new_trip_path, class: 'btn', remote: true do %>
      <span class="fa fa-plus-square"></span> Create a trip story
    <% end %>

    <%= link_to my_trips_user_path(current_user), class: 'btn' do %>
      <span class="fa fa-plane"></span> My trip stories
    <% end %>

    <%= link_to inspiration_list_user_path(current_user), class: "btn" do %>
    <span class="fa fa-heart"></span> Inspiration list
    <% end %>
  </li>

  <li>
    <%= link_to trips_path, class: 'btn' do %>
      <span class="fa fa-rocket"></span> Popular trips
    <% end %>
  </li>

  <li>
    <%= link_to edit_user_path(current_user), class: 'btn' do %>
      <span class="fa fa-edit"></span> Edit account
    <% end %>
  </li>

  <li>
    <%= link_to :signout, class: "btn" do %>
    <span class="fa fa-sign-out"></span> Sign out
    <% end %>
  </li>
</ul>