<div class="inspiration-list-links">
		<%= link_to "Trips You Found Inspiring", inspiration_list_user_path(@user, type: "Trip"), class: "inspiration-tab", remote: true%>
		<%= link_to "Chapters You Found Inspiring", inspiration_list_user_path(@user, type: "Chapter"), class: "inspiration-tab", remote: true%>
		<%= link_to "Posts You Found Inspiring", inspiration_list_user_path(@user, type: "Post"), class: "inspiration-tab", remote: true%>
</div>

<div class="inspiration-list">

	<div class="inspiration-trips">
		<h1 class = "page-title">Trips You Found Inspiring</h1>
			<% @trips.each do |trip| %>
	  	<%= render 'templates/trip_summary', trip: trip%>
			<% end %>
	</div>

	<div class="inspiration-chapters hidden-inspirations">
		<h1>Chapters You Found Inspiring</h1>
				<% @chapters.each do |chapter| %>
	  		<%= render 'templates/chapter_summary', chapter: chapter %>
				<% end %>
	</div>

	<div class="inspiration-posts hidden-inspirations">
		<h1>Posts You Found Inspiring</h1>
				<% @posts.each do |post| %>
	  		<%= render 'templates/post_summary', post: post %>
				<% end %>
	</div>


</div>