<div id="user" class="form">
<%= form_for @user, html: { class: "form-container" } do |f| %>
  <legend class="form-title">
    <small class="fa fa-globe logo"></small> Update Profile
  </legend>

  <div class="form-field">
    <%= f.label :name, for: "user_name", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :name, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :email, for: "user_email", class: "form-label" %>
    <div class="form-control">
      <%= f.email_field :email, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :bio, for: "user_bio", class: "form-label" %>
    <div class="form-control">
      <%= f.text_area :bio, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :password, for: "user_password", class: "form-label" %>
    <div class="form-control">
      <%= f.password_field :password, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label "Confirmation", for: "user_password_confirmation", class: "form-label" %>
    <div class="form-control">
      <%= f.password_field :password_confirmation, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-control">
      <%= f.submit class: "form-btn" %>
      <%= link_to 'Close', '#', class: "form-btn close" %>
    </div>
  </div>


<% end %>
</div>