<div id="welcome" class="jumbo">
  <div id="background-image">
    <h1 class="title"><%= site_name %></h1>
    <div class="tag">
      Plan a trip and tell your travel story.
    </div>
    <div class="search-bar">
      <%= form_tag trips_path, method: :get, id: "search" do %>
      <%= text_field_tag :search, params[:search],
          placeholder: "Type In a Location" %>
      <% end %>
      <span class="fa fa-search"></span>
    </div>
  </div>
</div>

<div class="featured-trips">
  <h2 class="title">Featured Trips</h2>

  <div class="recent-trips">
    <h3>Recently Added Trips</h3>
    <%= render @recent_trips %>
  </div>

  <div class="top-rated-trips">
    <h3>Top Rated Trips</h3>
    <%= render @top_rated_trips %>
  </div>


</div>