<ul class="nav-menu">
  <li><%= link_to 'Create a new trip', new_trip_path, class: "btn" %></li>
  <li><%= link_to 'Post Your Trip', new_trip_path, class: "btn" %></li>

  <li>
    <%= link_to "#", class: "dropdown btn", data: { toggling: "user-dropdown" } do %>
      <%= current_user.name %>
      <%= image_tag current_user.gravatar(50), class: "gravatar" %>
    <% end %>
    <ul id="user-dropdown" class="dropdown-menu">
      <li><%= link_to 'My Profile', current_user, class: "btn" %></li>
      <li><%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn" %></li>
      <li><%= link_to 'Sign Out', :signout, class: "btn" %></li>
    </ul>
  </li>

</ul>