<li id="chapter<%= chapter.id %>">
	<h3><%= link_to "#{chapter.title}", trip_chapter_path(:trip_id => chapter.trip.id, :id => chapter.id )%></h3>
	<p><%= markdown(chapter.description) %></p>

	<% if chapter.trip.user == current_user %>
	<ul>
		<li><%= link_to "Edit this chapter", edit_trip_chapter_path(chapter.trip, chapter) %></li>
		<li><%= link_to "Delete this chapter", trip_chapter_path(chapter.trip, chapter), method: :delete, confirm: "Are you sure you want to delete this chapter?", remote: true %></li>
	</ul>
	<% end %>

</li>