<div class="form">
<%= form_for [@chapter.trip, @chapter], html: {class: "form-container"} do |f| %>

<%= render 'alerts/error_message', object: @chapter %>

  <div class="form-field">
    <%= f.label :title, class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :title, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :description, class: "form-label" %>
    <div class="form-control">
      <%= f.text_area :description, class: "form-input" %>
    </div>
  </div>

  <div class="wishlist-items">
    <h3>Inspirations</h3>

    <% current_user.find_voted_items.each do |i| %>
      <%= f.radio_button :inspiration_id, i.id %>
      <%= f.label :inspiration_id, i.title, :value => i.id %>
      <%= f.hidden_field :inspiration_type, :value => i.class %>
        </br>
    <% end %>

  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-control">
      <%= f.submit submit, class: "form-btn"%>
    </div>
  </div>

<% end %>
</div>