<%= form_for [@trip, @chapter] do |f| %>

<%= render 'alerts/error_message', object: @chapter %>

<div class="form-field">
    <%= f.label :title, for: "title", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :title, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :location, for: "location", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :location, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :longitude, for: "longitude", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :longitude, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :latitude, for: "latitude", class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :latitude, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :start_date, for: "start_date", class: "form-label" %>
    <div class="form-control">
      <%= f.date_select :start_date, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :end_date, for: "end_date", class: "form-label" %>
    <div class="form-control">
      <%= f.date_select :end_date, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-control">
      <%= f.submit "create chapter", class: "form-btn" %>
    </div>
  </div>

  <% end %>