<div id="chapter" class="form-float">
<%= form_for [@chapter.trip, @chapter], remote: true, html: { class: "form-container" } do |f| %>

  <%= render 'alerts/error_message', object: @chapter %>

  <div class="form-field">
    <legend class="form-title"><%= title %></legend>
    <%= f.text_field :title, class: "form-input", placeholder: "Trip name" %>
    <%= f.text_area :description, class: "form-input",
          placeholder: "Trip summary" %>
  </div>

  <div class="inspirations">
    <h3>Inspirations</h3>
    <ul>
      <% current_user.inspirations.where(inspirable_type: "Chapter").each do |inspiration| %>
        <li class="radio-button">
        <%= f.radio_button :inspiration_id, inspiration.id %>
        <%= f.label :inspiration_id, inspiration.inspired_by.title %>
        </li>
        <% end %>
      </ul>
  </div>

  <div class="form-field">
    <%= f.submit submit, class: "form-btn" %>
    <%= link_to "Close", '#', class: "form-btn close" %>
  </div>

<% end %>
</div>