<div class="form">
<h2>Form</h2>
<%= form_for [@chapter.trip, @chapter], remote: true, html: {class: "form-container"} do |f| %>

<%= render 'alerts/error_message', object: @chapter %>

  <div class="form-field">
    <%= f.label :title, class: "form-label" %>
    <div class="form-control">
      <%= f.text_field :title, class: "form-input" %>
    </div>
  </div>

  <div class="form-field">
    <%= f.label :description, class: "form-label" %>
    <div class="form-control">
      <%= f.text_area :description, class: "form-input" %>
    </div>
  </div>

  <div class="wishlist-items">
    <h3>Inspirations</h3>
  </div>

  <div class="form-field">
    <div class="form-label"></div>
    <div class="form-control">

      <%= f.submit class: "form-btn"%>
    </div>
  </div>

<% end %>
</div>