<% provide :page_title, "Chapter" %>

<p> <%= link_to "Back to #{@chapter.trip.title}", @chapter.trip %> </p>

<h1>Chapter <%= @trip.chapters.index(@chapter) + 1 %>: <%= @chapter.title %></h1>
<p><%= @chapter.description %></p>
<br>

<div id="map-canvas" data-objects="<%= posts_in_json(@chapter.posts) %>" data-center-pos="<%= center_of_all_locations(@trip.posts).to_json %>">
</div>

<% if @chapter.inspiration_id != nil %>

	<div class="inspirations">
		<p>This Chapter was inspired by <%= @chapter.inspiration.title %><p>
	</div>

<% end %>

<div class="inspiration-div">
	<% if logged_in? %>
		<% if Inspiration.by_this?(current_user.id, @chapter.id, @chapter.class) %>
			<button class="inspiration-button">
				<%= link_to "Remove This as an Inspiration", inspiration_path(Inspiration.by_this(current_user.id, @chapter.id, @chapter.class)[0].id), method: :delete, remote: true %>
			</button>
		<% else %>
			<button class="inspiration-button" >
				<%= link_to "Add This as an Inspiration", inspirations_path(inspiration: {inspirable_id: @chapter, inspirable_type: @chapter.class}), method: :post, remote: true %>
			</button>

		<% end %>
	<% end %>s

	</div>

	<p class='inspirations-count'><%= @chapter.inspirations.count %> people have added this trip as an inspiration</p>


	<% if @chapter.trip.user == current_user %>
			<p> <%= link_to "create a new post", new_trip_chapter_post_path(@trip, @chapter), remote: true %> </p>
	<% end %>

	<div id="new-post-form">

	</div>

	<div class="posts">
		<%= render @posts %>
	</div>
