<% provide :page_title, "Chapter" %>

	<div class ="back-to-trip-link">
		<%= link_to "Back to #{@chapter.trip.title}", @chapter.trip %>
	</div>

	<div class="chapter-info">
			<h1>Chapter <%= @trip.chapters.index(@chapter) + 1 %>: <%= @chapter.title %></h1>
			<p><%= @chapter.description %></p>
			<br>
	</div>

	<div id="map-canvas" data-objects="<%= posts_in_json(@chapter.posts) %>" data-center-pos="<%= center_of_all_locations(@trip.posts).to_json %>">
	</div>

<% if logged_in? %>

	<div id="inspiration-link">
		<% if @chapter.already_inspired?(current_user.id) %>
			<%= link_to 'I am no longer inspired', @chapter.already_inspired(current_user.id), method: :delete, remote: true %>
		<% else %>
			<%= link_to 'I feel inspired', inspirations_path(inspiration: {inspirable_id: @chapter, inspirable_type: @chapter.class}), method: :post, remote: true %>
		<% end %>
	</div>

<% end %>

	<div class='inspirations-count'>
		<%= @chapter.inspirations.count %> people have added this trip as an inspiration
	</div>


<% if @chapter.trip.user == current_user %>
	<div class="new-post-link">
		<%= link_to "create a new post", new_trip_chapter_post_path(@trip, @chapter), remote: true %>
	</div>
<% end %>

	<div id="new-post-form">

	</div>

	<div class="posts">
		<%= render @posts %>
	</div>
