<% provide :page_title, "Chapter" %>

<p>
	<%= link_to "create a new post", new_trip_chapter_post_path(@trip, @chapter) %>
	<%= link_to "Back to #{@chapter.trip.title}", @chapter.trip %>
</p>

<h2>Chapter <%= @chapter.id %>: <%= @chapter.title %></h2>

<%= render @posts %>

