<% provide :page_title, "Chapter" %>

<p> <%= link_to "Back to #{@chapter.trip.title}", @chapter.trip %> </p>
<% if @chapter.trip.user == current_user %>
<p> <%= link_to "create a new post", new_trip_chapter_post_path(@trip, @chapter) %> </p>
<% end %>

<h1>Chapter <%= @chapter.id %>: <%= @chapter.title %></h1>
<p><%= @chapter.description %></p>
<br>
<div id="map-canvas" data-objects="<%= @chapter.posts.to_json %>" data-center-point="<%= center_of_all_locations(@trip.posts).to_json %>">
</div>

<div class="post-list">

	<div class="post">

		<% @posts.each do |p| %>

			<h4><%= p.title %></h4>
			<ul>
				<li><%= markdown(p.content) %></li>

				<% p.post_attachments.each do |pic| %>
		  		<%= image_tag pic.postimage_url(:big) %>
				<% end %>

				<% if p.trip.user == current_user %>
				<li><%= link_to "Edit this post", edit_trip_chapter_post_path(p.trip, p.chapter, p) %></li>
				<li><%= link_to "Delete This Post", trip_chapter_post_path(p.trip, p.chapter, p), method: :delete %></li>
				<% end %>
			</ul>
			<% end %>
	</div>

</div>