<div class="chapter">
	<div class="cover-photo" data-image-url="<%= image_url(@chapter.cover_photo )%>">
	</div>

	<div class="header">

		<% if logged_in? %>
		<div class="chapter-control">
			<ul>
				<li><%= link_to '', new_trip_chapter_post_path(@trip, @chapter), class: "fa fa-plus-square", remote: true %></li>
				<li></li>
				<li><%= link_to "", edit_trip_chapter_path(@trip, @chapter), class: "fa fa-edit" %></li>
				<li><%= link_to "", [@trip, @chapter], confirm: "Are you sure you want to delete this chapter?", method: :delete, remote: true, class: "fa fa-times" %></li>
			</ul>
		</div>
		<% end %>

		<h1 class="title"><%= @chapter.title %></h1>
		<small class="date"><%= trip_date(@chapter) %></small>
		<p class="author">by <%= link_to @trip.user.name, @trip.user %></p>
	</div>
	<% if @chapter.posts.any? %>
		<div class="cover-map" data-objects="<%= posts_in_json(@chapter.posts) %>"></div>
	<% end %>

</div>

<% if @inspiration %>
	<%= link_to @inspiration.title, trip_chapter_path(@inspiration.trip, @inspiration) %>
<% end %>

<div class="chapter-content">
	<%= render @posts %>
</div>