<% provide :page_title, "Chapter" %>

<p> <%= link_to "Back to #{@chapter.trip.title}", @chapter.trip %> </p>

<h1>Chapter <%= @trip.chapters.index(@chapter) + 1 %>: <%= @chapter.title %></h1>
<p><%= @chapter.description %></p>
<br>

<div id="map-canvas" data-objects="<%= posts_in_json(@chapter.posts) %>" data-center-pos="<%= center_of_all_locations(@trip.posts).to_json %>">
</div>

<% if @chapter.inspiration_id != nil %>

	<div class="inspirations">
		<p>This Chapter was inspired by <%= @chapter.inspiration.title %><p>
	</div>

<% end %>

<div class="upvote-div">


	<% if logged_in? %>
		<% if current_user.voted_for? @chapter  %>

			<button class="upvote-button" data-vote-status="downvote">
				<%= link_to "Remove This Chapter From Favourites", vote_trip_chapter_path(@trip, @chapter, unvote: 1), method: :post, remote: true %>
			</button>

		<% else %>

			<button class="upvote-button" data-vote-status="upvote">
				<%= link_to "Add This Chapter to Favourites", vote_trip_chapter_path(@trip, @chapter), method: :post, remote: true %>
			</button>

		<% end %>
	<% end %>

	</div>

	<p class='upvote-count-chapter'><%= @chapter.votes.count %> people have favourited this chapter</p>


	<% if @chapter.trip.user == current_user %>
			<p> <%= link_to "create a new post", new_trip_chapter_post_path(@trip, @chapter), remote: true %> </p>
	<% end %>

	<div id="new-post-form">

	</div>

	<div class="posts">
		<%= render @posts %>
	</div>
