<div id="post" class="form-float">
<%= form_for [@post.trip, @post.chapter, @post],  html: { multipart: true, class: "form-container" }  do |f| %>
  <legend class="form-title"><%= title %></legend>

  <%= render 'alerts/error_message', object: @post %>

  <div class="form-section">
    <div class="form-field">
      <%= f.text_field :title, class: "form-input", placeholder: "Trip name" %>
      <%= f.text_area :content, class: "form-input",
            placeholder: "Your Trip Experience (You can use markdown)" %>
    </div>

    <div class="form-field">
      <%= f.text_field :location, class: "form-input", placeholder: "Location" %>
      <%= f.date_select :date, class: 'form-label' %>
    </div>

    <div class="form-field">
      <% @post.post_attachments.each do |pic| %>
        <% if pic.id %>
          <div id="pic<%= pic.id %>">
            <%= link_to delete_picture_path(id: pic.id), method: :post, class: "del-pic", remote: true do %>
              <%= image_tag pic.postimage_url(:thumb) %>
              <p>Click to remove</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="form-field">
      <%= f.fields_for :post_attachments do |p| %>
      <div class="attachment">
        <%= p.file_field :postimage, :multiple => true, name: "post_attachments[postimage][]" %>
      </div>
      <% end %>
   </div>

    <div class="form-field">
      <%= f.submit submit, class: "form-btn" %>
      <%= link_to "Close", '#', class: "form-btn close" %>
    </div>
 </div>

  <div class="inspirations">
    <h3>Inspirations</h3>
      <% current_user.inspirations.each do |inspiration| %>
        <%= f.radio_button :inspiration_id, inspiration.id %>
        <%= f.label :inspiration_id, inspiration.inspired_by.title %>
        <% end %>
  </div>



<% end %>
</div>
