<!DOCTYPE html>
<html>
<head>
  <title><%= titler(yield(:page_title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript" src="<%= google_api_access %>"></script>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <aside class="sidebar">
      <%= render 'sidebar/index' %>
    </aside>
    <div class="content">
      <a href="#" class="sidebar-toggle fa fa-globe"></a>
      <%= render 'alerts/flash_message' %>
      <%= yield %>
      <%= params %>
    </div>
  </div>



</body>
</html>