<!DOCTYPE html>
<html>
<head>
  <title><%= titler(yield(:page_title)) %></title>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript" src=<%= google_api_access %>></script>

	<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBAAXXAj0IC3qPcAGoqmGfdfIxQeFICKHs
		&sensor=false" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'header/index' %>

  <%= render 'alerts/flash_message' %>

  <div class="content"><%= yield %></div>


  <%= params %>

</body>
</html>