<!DOCTYPE html>
<html>
<head>
  <title><%= titler(yield(:page_title)) %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



 <ul>
  <% if current_user %>
    <li>Signed in as <%= current_user.name %></li>
    <li><%= link_to 'new trip', new_trip_path %></li>
    <li><%= link_to 'sign out', :signout %></li>
  <% else %>
    <li><%= link_to 'sign up', :signup %></li>
    <li><%= link_to 'sign in', :signin %></li>
  <% end %>
</ul>

  <%= yield %>

  <%= params %>
  <%= logged_in? %>
  <%= current_user.name %>

</body>
</html>