<!DOCTYPE html>
<html>
<head>
  <title><%= titler(yield(:page_title)) %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <ul>
  <li><%= link_to 'new trip', new_trip_path %></li>
  <li><%= link_to 'sign up', signup_path %></li>
  <li><%= link_to 'sign in', signin_path %></li>
  <li><%= link_to 'sign out', signout_path('blah') %></li>
</ul>

  <%= yield %>

</body>
</html>